@model EfAssignment.Department

@{
    ViewData["Title"] = Model == null ? "Create" : (Model.ViewType == "View" ? "View" : "Edit");
    //ViewData["Id_Hidden"] = Model != null && Model.ViewType == "View" ? "" : "hidden";
    //ViewData["IsDisabled"] = Model != null && Model.ViewType == "View" ? "disabled" : "";
    ViewData["Action"] = Model != null && Model.ViewType == "View" ? "" : ViewData["Title"];
    ViewData["BtnCaption"] = Model != null && Model.ViewType == "View" ? "Back" : ViewData["Title"];
    ViewData["Submit"] = Model != null && Model.ViewType == "View" ? "Button" : "Submit";
}

<h1>@ViewData["Title"] Department</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewData["Action"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if ((string)ViewData["Title"] == "Edit")
            {
                <input asp-for="DeptId" hidden="hidden" class="form-control" />
            }
            else if ((string)ViewData["Title"] == "View")
            {
                <div class="form-group">
                    <label asp-for="DeptId" class="control-label"></label>
                    <input asp-for="DeptId" disabled="disabled" class="form-control" />
                    <span asp-validation-for="DeptId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @if ((string)ViewData["Title"] == "View")
                {
                    <input asp-for="Name" disabled="disabled" class="form-control" />
                }
                else
                {
                    <input asp-for="Name" class="form-control" />
                }
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@ViewData["BtnCaption"] class="btn btn-primary" />
            </div>
        </form>
        </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}