@model EfAssignment.Employee

@{
    ViewData["Title"] = Model == null ? "Create" : (Model.ViewType == "View" ? "View" : "Edit");
    ViewData["Action"] = Model != null && Model.ViewType == "View" ? "" : ViewData["Title"];
    ViewData["BtnCaption"] = Model != null && Model.ViewType == "View" ? "Back" : ViewData["Title"];
    ViewData["Submit"] = Model != null && Model.ViewType == "View" ? "Button" : "Submit";
}

<h1>@ViewData["Title"] Department</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewData["Action"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData["Title"] == "Edit")
            {
                <input asp-for="EmpId" hidden="hidden" class="form-control" />
            }
            else if (ViewData["Title"] == "View")
            {
                <div class="form-group">
                    <label asp-for="EmpId" class="control-label"></label>
                    <input asp-for="EmpId" disabled="disabled" class="form-control" />
                    <span asp-validation-for="EmpId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="DeptId" class="control-label">Department</label>
                @if (ViewData["Title"] == "View")
                {
                    <input asp-for="Department.Name" disabled="disabled" class="form-control" />
                }
                else
                {
                    <select asp-for="DeptId" class="form-control" asp-items="@(new SelectList(ViewBag.Departments, "DeptId", "Name"))">
                        <option>--Select--</option>
                    </select>
                }
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @if (ViewData["Title"] == "View")
                {
                    <input asp-for="Name" disabled="disabled" class="form-control" />
                }
                else
                {
                    <input asp-for="Name" class="form-control" />
                }
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                @if (ViewData["Title"] == "View")
                {
                    <input asp-for="Address" disabled="disabled" class="form-control" />
                }
                else
                {
                    <input asp-for="Address" class="form-control" />
                }
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Profile Pic</label>
                @if (ViewData["Title"] == "View")
                {
                    <img src="@Url.Content(Model.ImagePath)" class="img-fluid rounded" style="width:130px" alt="@Model.Name" />
                }
                else
                {
                    <input asp-for="ImagePath" class="form-control" />
                }
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@ViewData["BtnCaption"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}